version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: escuela
      MYSQL_USER: Ismael
      MYSQL_PASSWORD: Ismola2002
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    networks:
      - cloudflare_default
      
  php:
    image: agenda:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - cloudflare_default

  nginx:
    image: agenda-nginx:latest
    build:
      context: .
      dockerfile: nginx.Dockerfile
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - php
    networks:
      - cloudflare_default

networks:
  cloudflare_default:
    external: true

